html, body {
    letter-spacing: 0.1rem;
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: middle;
}
.signup-btn {
    padding: 1rem;
    border: 0.2rem solid white;
    transition: background 300ms ease-in-out,
                box-shadow 300ms ease-in-out,
                color 300ms ease-in-out;
}
.signup-btn:hover, .signup-btn:active {
    color: white;
    background: #5086CC;
}
.signup-btn:active {
    box-shadow: inset 0px 0px 4px 1px black;
}
.nav {
    padding: 0.5rem 2rem;
}
.nav-links {
    display: none;
}
.nav-link {
    display: inline-block;
    padding: 1rem;
    font-weight: bold;
    color: black;
    transition: color 200ms;
}
.nav-link:hover,
.nav-link:active {
    text-decoration: none;
    color: #5086CC;
}
.nav-logo {
    text-align: center;
}
.logo {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1rem;
    margin-bottom: -0.7rem;
}
.logo-subtitle {
    font-family: 'Bebas Neue';
    font-size: 0.8rem;
}
.logo-subtitle-part-2 {
    color: #5086CC;
}
.introducing {
    background-image: url("images/cover_1366px.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    color: white;
}
@media (min-device-width: 1920px) { .introducing { background-image: url("images/cover_1920px.jpg"); } }
@media (min-device-width: 2560px) { .introducing { background-image: url("images/cover_2560px.jpg"); } }
.introducing-title {
    margin-top: 0.5rem;
    padding: 0 2rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    text-align: center;
    text-shadow: 0 0 10px #000;
}
.introducing-signup-btn {
    font-size: 2rem;
}
.features {
    margin-bottom: 3rem;
}
.features-title {
    text-align: center;
}
.features-content {
    padding: 1rem 2rem;
}
.features-graphic {
    padding: 0 2rem;
    text-align: center;
}
.features-graphic img {
    max-width: 30rem;
}
.features-signup-btn-container {
    text-align: center;
}
.features-signup-btn {
    border-color: black;
}
.market {
    padding: 2rem;
    background: #353535;
    color: white;
    text-align: center;
}
.market-title {
    padding: 0 2rem;
    margin-bottom: 1rem;
}
.market-item-container {
    padding: 1rem;
    margin-bottom: 1rem;
}
.market-item img {
    width: 50%;
    margin: 0.5rem 0;
    margin-bottom: 0;
    border: 0.5rem solid rgba(255, 255, 255, 0.1);
    border-radius: 30%;
    color: white;
}
.market-item-title {
    font-size: 1.2rem;
}
.market-item-subtitle {
    font-size: 0.8rem;
}
.app {
    text-align: center;
    margin-bottom: 3rem;
}
.app-title {
    padding: 0 2rem;
}
.app-content {
    max-width: 50rem;
    margin: 0 auto;
    padding: 3rem;
    padding-top: 1rem;
}
.app-item {
    min-height: 3rem;
    padding: 0.5rem 1.5rem;
    text-align: center;
    border-bottom: 1px solid #333;
    background: #5086CC;
    color: white;
}
.app-app {
    padding: 1rem 4rem;
}
.team {
    padding: 1rem;
    background: #5086CC;
    color: white;
    text-align: center;
}
.team-title {
    padding: 0 2rem;
}
.team-content {
    max-width: 50rem;
    margin: 0 auto;
    padding: 1rem;
}
.team-member {
    padding-bottom: 2rem;
}
.team-member .icon {
    width: 1rem;
    padding-right: 0.2rem;
    font-size: 1.2rem;
    vertical-align: middle;
}
.team-member img {
    border: 0.4rem solid #3D4F66;
}
.team-member a {
    color: #fff;
}
.team-member-text {
    width: 26ex;
    margin: 0 auto;
    text-align: left;
}
.contact {
    margin-bottom: 2rem;
    text-align: center;
}
.contact-title {
    padding: 1rem;
}
.contact-content {
    padding: 0 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.contact-map {
    width: 80%;
    height: 300px;
}
.contact-separator {
    max-width: 70%;
    margin: 1rem auto;
    border-bottom: 0.4rem solid #353535;
    border-radius: 5px;
}
.signup {
    margin-bottom: 2rem;
}
.signup-title {
    padding: 1rem;
    text-align: center;
}
.signup-content {
    padding: 0 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
}
.signup-form {
    padding: 0 2rem;
}
.signup-form .field {
    margin-bottom: 0.5rem;
}
.signup-signup-btn-container {
    text-align: center;
}
.signup-signup-btn {
    padding: 1rem 2rem;
    border: 1px solid #666;
}

.signup-signup-btn:disabled,
.signup-signup-btn:disabled:hover,
.signup-signup-btn:disabled:active {
    color: black;
    background: #F0F0F0;
}
}
.signup-form-info,
.signup-form-error {
    float: left;
    padding: 1rem;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}
.signup-form-error {
    color: #F75B50;
}
.signup-form-info {
    color: #5086CC;
}
.footer {
    padding: 2rem;
    background: #353535;
    color: white;
}
.footer-heart {
    padding: 0 0.1rem;
    transition: fill 1s ease-in-out;
    fill: white;
}
.footer-techstars-logo {
    display: inline-block;
    width: 8rem;
}
.footer-techstars-logo path {
    fill: white;
    transition: fill 1s ease-in-out;
}
.footer:hover .tc-fill-blue,
.footer:active .tc-fill-blue {
    fill: #708f9d;
}
.footer:hover .tc-fill-green,
.footer:active .tc-fill-green {
    fill: #33b540;
}
.footer:hover .footer-heart,
.footer:active .footer-heart {
    fill: red;
}
.footer-social {
    margin-bottom: 2rem;
}
.footer-social-item {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 50%;
    background: white;
    transition: background 300ms, color 300ms;
    color: black;
}
.footer-social-item > svg {
    width: 24px;
    height: 24px;
}
.footer-facebook:hover,
.footer-facebook:active {
    background: #3A5795;
    color: white;
}
.footer-twitter:hover,
.footer-twitter:active {
    background: #55ACEE;
    color: white;
}
.footer-instagram:hover,
.footer-instagram:active {
    background: #125688;
    color: white;
}

@media (min-width: 40em) {
    .introducing-title {
        text-align: left;
        font-size: 2.8rem;
    }
    .app-item {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .app-app {
        padding: 0 1rem;
    }
    .team-member img {
        max-width: 60%;
    }
}

@media (min-width: 52em) {
    .nav-links {
        display: block;
    }
    .features-title,
    .features-signup-btn-container {
        text-align: left;
    }
    .signup-signup-btn-container {
        text-align: left;
    }
    .features-graphic {
        padding-top: 4rem;
    }
    .market-item img {
        width: 60%;
    }
    .app-item {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    .app-app {
        padding: 0 4rem;
    }
    .contact-separator {
        display: none;
    }
    .footer-with-love {
        float: left;
    }
    .footer-social {
        float: right;
        margin: 0;
    }
}
